PRIVATE_KEY=0xYOUR_PRIVATE_KEY_HERE
POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology
POLYGONSCAN_API_KEY=YOUR_POLYGONSCAN_API_KEY
PINATA_API_KEY=YOUR_PINATA_API_KEY
PINATA_SECRET_API_KEY=YOUR_PINATA_SECRET_KEY
PIPELINE_WALLET=
REPORT_GAS=false